ul.volto-social-sharing {
  list-style-type: none;
}

ul.volto-social-sharing.horizontal {
  display: table;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul.volto-social-sharing.horizontal li {
  display: table-cell;
  padding: 8px;
}

ul.volto-social-sharing.vertical li {
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 10px;
}

.volto-social-sharing li:hover .fa-icon {
  transform: rotate(-15deg);
}

.volto-social-sharing .fa-icon {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

.volto-social-sharing .icon-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.volto-social-sharing .fa-icon-position {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.volto-social-sharing.horizontal-content {
  padding-left: 1.3em;
  display: flex;
  gap: 0.8em;
  flex-wrap: wrap;
}
.volto-social-sharing.horizontal-content li {
  padding: 0.5em;
  border-radius:50%;
}
